name: Build Reusable Workflow

on:
  workflow_call:
    inputs:
      jfrog_project:
        required: true
        type: string
    secrets:
      JF_URL:
        required: true
      JF_ACCESS_TOKEN:
        required: true

permissions:
  id-token: write
  contents: read
  actions: read
  packages: write
  security-events: write
  attestations: write

jobs:
  build:
    name: Build Maven and Container Images
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.extract.outputs.version }}
      services_metadata: ${{ steps.collect_metadata.outputs.services_metadata }}

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ secrets.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}

      - name: Extract version
        id: extract
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          VERSION=${VERSION%-SNAPSHOT}
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      ############################################################
      # BUILD AND PUSH SERVICES
      ############################################################
      - name: Build & Push services
        run: |
          export VERSION="${{ steps.extract.outputs.version }}"
          export REPO="artifactory.rodolphef.org/dev-oci"

          SERVICES=(
            "spring-petclinic-cloud-api-gateway"
            "spring-petclinic-cloud-visits-service"
            "spring-petclinic-cloud-vets-service"
            "spring-petclinic-cloud-customers-service"
            "spring-petclinic-cloud-admin-server"
            "spring-petclinic-cloud-discovery-service"
            "spring-petclinic-cloud-config-server"
          )

          for S in "${SERVICES[@]}"; do
            jf mvn -B -DskipTests spring-boot:build-image \
              -DREPOSITORY_PREFIX="$REPO" \
              -DVERSION="$VERSION" \
              --project="${{ inputs.jfrog_project }}"

            jf docker push "$REPO/$S:$VERSION" \
              --project="${{ inputs.jfrog_project }}"
          done

      - name: Collect all digests dynamically
        id: collect_metadata
        run: |
          VERSION="${{ steps.extract.outputs.version }}"
          REPO="artifactory.rodolphef.org/dev-oci"

          SERVICES=(
            "spring-petclinic-cloud-api-gateway"
            "spring-petclinic-cloud-visits-service"
            "spring-petclinic-cloud-vets-service"
            "spring-petclinic-cloud-customers-service"
            "spring-petclinic-cloud-admin-server"
            "spring-petclinic-cloud-discovery-service"
            "spring-petclinic-cloud-config-server"
          )

          JSON="{"

          first=true
          for S in "${SERVICES[@]}"; do
            IMAGE="$REPO/$S:$VERSION"
            DIGEST=$(jf rt curl -X GET "/api/docker/dev-oci/v2/${S}/manifests/$VERSION" \
              -H "Accept: application/vnd.docker.distribution.manifest.v2+json" \
              | jq -r '.config.digest')

            if [ "$first" = true ]; then
              first=false
            else
              JSON="$JSON,"
            fi

            JSON="$JSON \"${S}\": { \"image\": \"${IMAGE}\", \"digest\": \"${DIGEST}\" }"
          done

          JSON="$JSON }"
          echo "services_metadata=$JSON" >> $GITHUB_OUTPUT