name: Build (Reusable)

on:
  workflow_call:
    inputs:
      jfrog_project:
        required: true
        type: string
    secrets:
      JF_URL:
        required: true
      JF_ACCESS_TOKEN:
        required: true
      ORAS_TOKEN:
        required: true
      ORAS_USERNAME:
        required: true

permissions:
  contents: read
  id-token: write

jobs:
  build:
    name: Build & Publish Artifacts
    runs-on: ubuntu-latest

    outputs:
      image: ${{ steps.docker-push.outputs.image }}
      digest: ${{ steps.docker-push.outputs.digest }}
      container_version: ${{ steps.extract.outputs.version }}

    env:
      JFROG_PROJECT: ${{ inputs.jfrog_project }}

    steps:

      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ secrets.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}

      - name: Configure Maven with JFrog
        run: |
          jf mvnc \
            --repo-resolve-releases=${{ vars.MVN_DEV_REPO_RESOLVE_RELEASES }} \
            --repo-resolve-snapshots=${{ vars.MVN_DEV_REPO_RESOLVE_SNAPSHOTS }} \
            --repo-deploy-releases=${{ vars.MVN_DEV_REPO_DEPLOY_RELEASES }} \
            --repo-deploy-snapshots=${{ vars.MVN_DEV_REPO_DEPLOY_SNAPSHOTS }}

      - name: Build Maven project
        run: jf mvn clean install -DskipTests

      - name: Extract version
        id: extract
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          VERSION=${VERSION/-SNAPSHOT/}
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Install ORAS
        run: |
          VER=$(curl -s https://api.github.com/repos/oras-project/oras/releases/latest | jq -r ".tag_name")
          FILE="oras_${VER#v}_linux_amd64.tar.gz"
          curl -sSL "https://github.com/oras-project/oras/releases/download/${VER}/${FILE}" -o "$FILE"
          tar -xzf "$FILE"
          sudo mv oras /usr/local/bin/
          oras version

      - name: ORAS login
        run: |
          echo "${{ secrets.ORAS_TOKEN }}" | oras login ${{ vars.OCI_REGISTRY_URL }} \
            --username ${{ secrets.ORAS_USERNAME }} --password-stdin

      - name: Build OCI images
        env:
          REPOSITORY_PREFIX: ${{ vars.OCI_REGISTRY_URL }}/${{ vars.DOCKER_DEV_REPO }}
        run: |
          jf mvn -B -DskipTests=true spring-boot:build-image -Pk8s \
            -DREPOSITORY_PREFIX=$REPOSITORY_PREFIX \
            -DVERSION=${{ steps.extract.outputs.version }} \
            --project "${{ inputs.jfrog_project }}"

      - name: Push OCI images
        id: docker-push
        env:
          PREFIX: ${{ vars.OCI_REGISTRY_URL }}/${{ vars.DOCKER_DEV_REPO }}
        run: |
          for service in spring-petclinic-cloud-api-gateway spring-petclinic-cloud-visits-service spring-petclinic-cloud-vets-service spring-petclinic-cloud-customers-service spring-petclinic-cloud-admin-server spring-petclinic-cloud-discovery-service spring-petclinic-cloud-config-server; do
            jf docker push $PREFIX/${service}:${{ steps.extract.outputs.version }} \
              --project "${{ inputs.jfrog_project }}"
          done

          MAIN="spring-petclinic-cloud-api-gateway"

          DIGEST=$(jf rt curl -X GET "/api/docker/${{ vars.DOCKER_DEV_REPO }}/v2/$MAIN/manifests/${{ steps.extract.outputs.version }}" \
            -H "Accept: application/vnd.docker.distribution.manifest.v2+json" | jq -r '.config.digest')

          echo "image=$PREFIX/$MAIN" >> $GITHUB_OUTPUT
          echo "digest=$DIGEST" >> $GITHUB_OUTPUT

      - name: Publish build-info
        run: |
          jf rt bce --project "$JFROG_PROJECT"
          jf rt bag --project "$JFROG_PROJECT"
          jf rt bp  --project "$JFROG_PROJECT"