name: SLSA Container Provenance

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      digest:
        required: true
        type: string

permissions:
  contents: read
  id-token: write
  attestations: write
  actions: read # for detecting the Github Actions environment
  packages: write # for uploading attestations
  security-events: write # for uploading code scanning

jobs:
  create_provenance:
    runs-on: ubuntu-latest
    steps:
      - name: Create SLSA provenance
        run: echo "Creating provenance for ${{ inputs.image }} with digest ${{ inputs.digest }}"