name: Java CI with Maven (Modular Orchestrator)

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  actions: read # for detecting the Github Actions environment
  id-token: write # for creating OIDC tokens for signing
  packages: write # for uploading attestations
  contents: read # read the contents permission
  security-events: write # for uploading code scanning
  attestations: write # needed for actions/attest-build-provenance

jobs:
  build:
    name: Build (Reusable Workflow)
    uses: ./.github/workflows/build-reusable.yml
    with:
      jfrog_project: ${{ vars.JFROG_PROJECT }}
    secrets:
      JF_URL: ${{ secrets.JF_URL }}
      JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
      ORAS_TOKEN: ${{ secrets.ORAS_TOKEN }}
      ORAS_USERNAME: ${{ secrets.ORAS_USERNAME }}

  xray:
    name: Xray Scan
    needs: build
    uses: ./.github/workflows/xray-scan.yml
    with:
      build_name: "Java CI with Maven (Modular Orchestrator)"
      build_number: ${{ github.run_number }}
      jfrog_project: ${{ vars.JFROG_PROJECT }}
    secrets: inherit

  ## --- SLSA provenance for each service ---
  slsa_api_gateway:
    name: SLSA Provenance (API Gateway)
    needs: build
    uses: ./.github/workflows/slsa-container-provenance.yml
    with:
      image:  ${{ needs.build.outputs.image_api_gateway }}
      digest: ${{ needs.build.outputs.digest_api_gateway }}
    secrets: inherit

  slsa_visits:
    name: SLSA Provenance (Visits Service)
    needs: build
    uses: ./.github/workflows/slsa-container-provenance.yml
    with:
      image:  ${{ needs.build.outputs.image_visits }}
      digest: ${{ needs.build.outputs.digest_visits }}
    secrets: inherit

  slsa_vets:
    name: SLSA Provenance (Vets Service)
    needs: build
    uses: ./.github/workflows/slsa-container-provenance.yml
    with:
      image:  ${{ needs.build.outputs.image_vets }}
      digest: ${{ needs.build.outputs.digest_vets }}
    secrets: inherit

  slsa_customers:
    name: SLSA Provenance (Customers Service)
    needs: build
    uses: ./.github/workflows/slsa-container-provenance.yml
    with:
      image:  ${{ needs.build.outputs.image_customers }}
      digest: ${{ needs.build.outputs.digest_customers }}
    secrets: inherit

  slsa_admin:
    name: SLSA Provenance (Admin Server)
    needs: build
    uses: ./.github/workflows/slsa-container-provenance.yml
    with:
      image:  ${{ needs.build.outputs.image_admin }}
      digest: ${{ needs.build.outputs.digest_admin }}
    secrets: inherit

  slsa_discovery:
    name: SLSA Provenance (Discovery Server)
    needs: build
    uses: ./.github/workflows/slsa-container-provenance.yml
    with:
      image:  ${{ needs.build.outputs.image_discovery }}
      digest: ${{ needs.build.outputs.digest_discovery }}
    secrets: inherit

  slsa_config:
    name: SLSA Provenance (Config Server)
    needs: build
    uses: ./.github/workflows/slsa-container-provenance.yml
    with:
      image:  ${{ needs.build.outputs.image_config }}
      digest: ${{ needs.build.outputs.digest_config }}
    secrets: inherit

  promote:
    name: Promote Build
    needs:
      - build
      - xray
      - slsa_api_gateway
      - slsa_visits
      - slsa_vets
      - slsa_customers
      - slsa_admin
      - slsa_discovery
      - slsa_config
    uses: ./.github/workflows/promote.yml
    with:
      version: ${{ needs.build.outputs.version }}
      jfrog_project: ${{ vars.JFROG_PROJECT }}
    secrets: inherit

  release_bundle:
    name: Create Release Bundle
    needs: promote
    uses: ./.github/workflows/release-bundle.yml
    with:
      version: ${{ needs.build.outputs.version }}
      jfrog_project: ${{ vars.JFROG_PROJECT }}
    secrets: inherit

  rlm_evidence:
    name: Generate Evidence RLM
    needs: release_bundle
    uses: ./.github/workflows/rlm-evidence.yml
    with:
      version: ${{ needs.build.outputs.version }}
      jfrog_project: ${{ vars.JFROG_PROJECT }}
    secrets: inherit