name: SLSA Container Provenance

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      digest:
        required: true
        type: string

permissions: inherit

jobs:
  create_provenance:
    runs-on: ubuntu-latest
    steps:
      - name: Create SLSA provenance
        run: echo "Creating provenance for ${{ inputs.image }} with digest ${{ inputs.digest }}"