name: Maven Build Pipeline

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]

permissions:
  contents: read
  id-token: write
  attestations: write
  actions: read # for detecting the Github Actions environment
  packages: write # for uploading attestations
  security-events: write # for uploading code scanning


jobs:

  #######################################################
  # 1. BUILD (reusable workflow)
  #######################################################
  build:
    uses: ./.github/workflows/build-reusable.yml
    with:
      jfrog_project: ${{ vars.JFROG_PROJECT }}
    secrets: inherit



  #######################################################
  # 2. XRAY SCAN OF BUILD
  #######################################################
  xray_scan:
    needs: build
    uses: ./.github/workflows/xray-scan.yml
    with:
      build_name: "Java CI with Maven (Modular Orchestrator)"
      build_number: ${{ github.run_number }}
      jfrog_project: ${{ vars.JFROG_PROJECT }}
    secrets: inherit



  #######################################################
  # 3. PROMOTION
  #######################################################
  promote:
    needs: build
    uses: ./.github/workflows/promote.yml
    with:
      version: ${{ needs.build.outputs.version }}
      jfrog_project: ${{ vars.JFROG_PROJECT }}
    secrets: inherit



  #######################################################
  # 4. RELEASE BUNDLE
  #######################################################
  release_bundle:
    needs: promote
    uses: ./.github/workflows/release-bundle.yml
    with:
      version: ${{ needs.build.outputs.version }}
      jfrog_project: ${{ vars.JFROG_PROJECT }}
    secrets: inherit



  #######################################################
  # 5. RLM EVIDENCE
  #######################################################
  rlm_evidence:
    needs: release_bundle
    uses: ./.github/workflows/rlm-evidence.yml
    with:
      version: ${{ needs.build.outputs.version }}
      jfrog_project: ${{ vars.JFROG_PROJECT }}
    secrets: inherit



  #######################################################
  # 6. SLSA PROVENANCE FOR ALL SERVICES
  #######################################################

  slsa_api_gateway:
    permissions:
      id-token: write
      contents: read
      attestations: write
      actions: read
      packages: write
    needs: build
    uses: ./.github/workflows/slsa-container-provenance.yml
    with:
      image:  ${{ needs.build.outputs.image_api_gateway }}
      digest: ${{ needs.build.outputs.digest_api_gateway }}
    secrets: inherit

  slsa_visits:
    permissions:
      id-token: write
      contents: read
      attestations: write
      actions: read
      packages: write
    needs: build
    uses: ./.github/workflows/slsa-container-provenance.yml
    with:
      image:  ${{ needs.build.outputs.image_visits }}
      digest: ${{ needs.build.outputs.digest_visits }}
    secrets: inherit

  slsa_vets:
    permissions:
      id-token: write
      contents: read
      attestations: write
      actions: read
      packages: write
    needs: build
    uses: ./.github/workflows/slsa-container-provenance.yml
    with:
      image:  ${{ needs.build.outputs.image_vets }}
      digest: ${{ needs.build.outputs.digest_vets }}
    secrets: inherit

  slsa_customers:
    permissions:
      id-token: write
      contents: read
      attestations: write
      actions: read
      packages: write
    needs: build
    uses: ./.github/workflows/slsa-container-provenance.yml
    with:
      image:  ${{ needs.build.outputs.image_customers }}
      digest: ${{ needs.build.outputs.digest_customers }}
    secrets: inherit

  slsa_admin:
    permissions:
      id-token: write
      contents: read
      attestations: write
      actions: read
      packages: write
    needs: build
    uses: ./.github/workflows/slsa-container-provenance.yml
    with:
      image:  ${{ needs.build.outputs.image_admin }}
      digest: ${{ needs.build.outputs.digest_admin }}
    secrets: inherit

  slsa_discovery:
    permissions:
      id-token: write
      contents: read
      attestations: write
      actions: read
      packages: write
    needs: build
    uses: ./.github/workflows/slsa-container-provenance.yml
    with:
      image:  ${{ needs.build.outputs.image_discovery }}
      digest: ${{ needs.build.outputs.digest_discovery }}
    secrets: inherit

  slsa_config:
    permissions:
      id-token: write
      contents: read
      attestations: write
      actions: read
      packages: write
    needs: build
    uses: ./.github/workflows/slsa-container-provenance.yml
    with:
      image:  ${{ needs.build.outputs.image_config }}
      digest: ${{ needs.build.outputs.digest_config }}
    secrets: inherit