name: Orchestrator Pipeline

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 0 * * *"

jobs:

  build:
    uses: ./.github/workflows/maven-build.yml
    with:
      jfrog_project: ${{ vars.JFROG_PROJECT }}
    secrets: inherit
    outputs:
      version: ${{ steps.set-version.outputs.containerversion }}

  release_bundle:
    needs: build
    uses: ./.github/workflows/release-bundle.yml
    with:
      container_version: ${{ needs.build.outputs.version }}
      jfrog_project: ${{ vars.JFROG_PROJECT }}
    secrets: inherit

  rlm_evidence:
    needs: [ build, release_bundle ]
    uses: ./.github/workflows/rlm-evidence.yml
    with:
      container_version: ${{ needs.build.outputs.version }}
      jfrog_project: ${{ vars.JFROG_PROJECT }}
    secrets: inherit