name: Orchestrator Pipeline

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 0 * * *"

jobs:

  build:
    uses: ./.github/workflows/maven-build.yml
    with:
      jfrog_project: ${{ vars.JFROG_PROJECT }}
    secrets: inherit

  release_bundle:
    needs: build
    uses: ./.github/workflows/release-bundle.yml
    with:
      container_version: ${{ needs.build.outputs.version }}
      jfrog_project: ${{ vars.JFROG_PROJECT }}
    secrets: inherit

  promote:
    needs: [ build, release_bundle ]
    uses: ./.github/workflows/promote.yml
    with:
      version: ${{ needs.build.outputs.version }}
      jfrog_project: ${{ vars.JFROG_PROJECT }}
      environment: DEV
    secrets: inherit