name: Orchestrator Pipeline

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version à déployer"
        required: true
        type: string
        default: "2.6.3"
      environment:
        description: "Environnement (dev / staging / prod)"
        required: true
        type: string
        default: "dev"

jobs:
  build-microservices:
    uses: ./.github/workflows/maven-build.yml
    secrets: inherit

  slsa-container-provenance:
    needs: build-microservices
    uses: ./.github/workflows/slsa-container-provenance.yml
    with:
      image: ${{ needs.build-microservices.outputs.image }}
      digest: ${{ needs.build-microservices.outputs.digest }}
    secrets: inherit

  create-release-bundle:
    needs: slsa-container-provenance
    uses: ./.github/workflows/release-bundle.yml
    with:
      version: ${{ inputs.version }}
    secrets: inherit

  rlm-evidence:
    needs: create-release-bundle
    uses: ./.github/workflows/rlm-evidence.yml
    with:
      version: ${{ inputs.version }}
    secrets: inherit
