name: Promote Release Bundle

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      jfrog_project:
        required: true
        type: string
      environment:
        required: false
        type: string
        default: DEV

    secrets:
      JF_URL:
        required: true
      JF_ACCESS_TOKEN:
        required: true

permissions:
  id-token: write
  contents: read
  actions: read
  packages: write
  security-events: write
  attestations: write

env:
  BUNDLE_NAME: spring-petclinic-cloud

jobs:
  promote:
    runs-on: ubuntu-latest

    steps:
      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ secrets.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}

      - name: Promote Release Bundle to ${{ inputs.environment }}
        run: |
          echo "Promoting release bundle ${BUNDLE_NAME} version ${{ inputs.version }} to environment ${{ inputs.environment }}"
          jf release-bundle-promote "${BUNDLE_NAME}" "${{ inputs.version }}" "${{ inputs.environment }}" \
            --project="${{ inputs.jfrog_project }}" \
            --sync=true