name: Promote Build

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      jfrog_project:
        required: true
        type: string

    secrets:
      JF_URL:
        required: true
      JF_ACCESS_TOKEN:
        required: true

permissions:
  contents: read
  id-token: write
  attestations: write
  actions: read # for detecting the Github Actions environment
  packages: write # for uploading attestations
  security-events: write # for uploading code scanning

jobs:
  promote:
    runs-on: ubuntu-latest

    steps:
      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ secrets.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}

      - name: Promote Build
        run: |
          jf rt bce --project="${{ inputs.jfrog_project }}"
          jf rt bag --project="${{ inputs.jfrog_project }}"
          jf rt bp  --project="${{ inputs.jfrog_project }}"