name: Release Bundle

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      jfrog_project:
        required: true
        type: string

    secrets:
      JF_URL:
        required: true
      JF_ACCESS_TOKEN:
        required: true

permissions:
  contents: read
  id-token: write
  attestations: write
  actions: read # for detecting the Github Actions environment
  packages: write # for uploading attestations
  security-events: write # for uploading code scanning

jobs:
  release_bundle:
    runs-on: ubuntu-latest

    steps:
      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ secrets.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}

      - name: Create Release Bundle
        run: |
          jf rt rbc "spring-petclinic-cloud-release-bundle" \
            "${{ inputs.version }}" --sign \
            --project="${{ inputs.jfrog_project }}"

      - name: Publish Release Bundle
        run: |
          jf rt rbp "spring-petclinic-cloud-release-bundle" \
            "${{ inputs.version }}" \
            --project="${{ inputs.jfrog_project }}"