name: Create Release Bundle

on:
  workflow_call:
    inputs:
      jfrog_project:
        required: true
      version:
        required: true
      image:
        required: true
      digest:
        required: true
    secrets:
      JF_URL:
        required: true
      JF_ACCESS_TOKEN:
        required: true

jobs:
  rb:
    runs-on: ubuntu-latest

    steps:
      - uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ secrets.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}

      - name: Create Release Bundle V2
        run: |
          jf release-bundle-create "spring-petclinic-cloud" "${{ inputs.version }}" \
            --signing-key=default \
            --project="${{ inputs.jfrog_project }}" \
            --spec=- <<EOF
          {
            "files": [
              {
                "pattern": "${{ inputs.image }}@${{ inputs.digest }}",
                "target": "release-bundles/"
              }
            ]
          }
          EOF