name: Release Bundle

on:
  workflow_call:
    inputs:
      container_version:
        required: true
        type: string
      jfrog_project:
        required: true
        type: string

    secrets:
      JF_URL:
        required: true
      JF_ACCESS_TOKEN:
        required: true
      RB_KEY:
        required: false
      PRIVATE_KEY:
        required: false
      KEY_ALIAS:
        required: false

permissions:
  contents: read
  id-token: write
  packages: write

env:
  REPOSITORY_PREFIX: dev-oci-local
  BUNDLE_NAME: spring-petclinic-cloud
  CONTAINER_VERSION: ${{ inputs.container_version }}
  JFROG_PROJECT: ${{ inputs.jfrog_project }}

jobs:
  release_bundle:
    runs-on: ubuntu-latest

    steps:

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ secrets.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}

      - name: Publish Release Bundle
        run: |
          jf rbp "${BUNDLE_NAME}" "${CONTAINER_VERSION}" \
            --project="${JFROG_PROJECT}"