name: SLSA Container Provenance

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      digest:
        required: true
        type: string
      registry_username:
        required: false
        type: string
        default: ${{ github.actor }}
    secrets:
      ORAS_TOKEN:
        required: true
      JF_URL:
        required: true

permissions:
  id-token: write
  contents: read
  actions: read
  packages: write
  security-events: write
  attestations: write

jobs:
  provenance:
    runs-on: ubuntu-latest
    steps:
      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ secrets.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.ORAS_TOKEN }}
      
      - name: Login to JFrog Artifactory
        run: |
          echo "${{ secrets.ORAS_TOKEN }}" | docker login artifactory.rodolphef.org \
            --username ${{ inputs.registry_username }} \
            --password-stdin
      
      - name: Generate SLSA Provenance
        uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0
        with:
          image: ${{ inputs.image }}
          digest: ${{ inputs.digest }}
          registry-username: ${{ inputs.registry_username }}
          private-repository: true
        secrets:
          registry-password: ${{ secrets.ORAS_TOKEN }}
