name: SLSA Container Provenance

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      digest:
        required: true
        type: string

permissions:
  id-token: write
  contents: read
  attestations: write

jobs:
  provenance:
    runs-on: ubuntu-latest

    steps:
      - name: Generate SLSA Provenance
        uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0
        with:
          image: ${{ inputs.image }}
          digest: ${{ inputs.digest }}