name: SLSA Container Provenance

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      digest:
        required: true
        type: string
    secrets:
      ORAS_TOKEN:
        required: true
      ORAS_USERNAME:
        required: true

permissions:
  id-token: write
  contents: read
  actions: read
  packages: write
  security-events: write
  attestations: write

jobs:
  provenance:
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0
    with:
      image: ${{ inputs.image }}
      digest: ${{ inputs.digest }}
      private-repository: true
    secrets:
      registry-password: ${{ secrets.ORAS_TOKEN }}
      registry-username: ${{ secrets.ORAS_USERNAME }}
