name: SLSA Container Provenance

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      digest:
        required: true
        type: string
      container_version:        # NEW
        required: true
        type: string

permissions:
  contents: read
  id-token: write
  attestations: write
  actions: read
  packages: write

jobs:
  provenance:
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0
    with:
      image:  ${{ inputs.image }}
      digest: ${{ inputs.digest }}
      # SLSA requires a tag for the artifact reference.
      # We pass the new shared unified version:
      registry-tag: ${{ inputs.container_version }}